@model Login
@{
    ViewData["Title"] = "Login Page";
}
<div class="text-center">
    <h1>Login</h1>
    <form method="post">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" required>
        <label for="Password">Password</label>
        <input type="password" asp-for="Pass" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
