@model Login
@{
    ViewData["Title"] = "Sign up Page";
}
<div class="text-center">
    <h1>Sign Up Please Would You</h1>
    <h2>So we start your treament for your case of HANRGY</h2>
    <form method="post">
        <label for="email">Email</label>
        <input type="email" asp-for="Email">
        <label for="Password">Password</label>
        <input type="pass" asp-for="Pass">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
