<h3>Sorry We have some limits on orders.</h3>
<h4>1. You can not order more then once every 2 hours.</h4>
<h4>2. You can not order can not order from one than one store in 24 period.</h4>
<h5>Sorry the high demand for our fine pizzas have made us set these rules.</h5>
<form asp-controller="History" asp-action="ShowHistory" method="get" id="History">
    <input type="submit" value="History">
</form>